/.vs/Nully/v14/*.suo
/Core.Input/*.vcxproj
/Core.Input/*.filters
/Core.Input/Debug/*.log
/Core.Input/Debug/Core.Input.tlog/*.tlog
/Core.Input/Debug/*.obj
/Core.Input/Debug/*.idb
/Core.Input/Debug/*.pdb
/Core.Input/x64/Debug/*.log
/Core.Input/x64/Debug/Core.Input.tlog/*.tlog
/Core.Input/x64/Debug/*.pdb
/Core.Input/x64/Debug/Core.Input.tlog/*.lastbuildstate
/Core.Input/Debug/Core.Input.tlog/*.lastbuildstate
/Core.Input/x64/Debug/*.obj
/Core.Input/x64/Debug/*.idb
/Core/*.vcxproj
/Core/*.filters
/Core/intermediate/Debug/Win32/*.obj
/Core/intermediate/Debug/Win32/*.log
/Core/intermediate/Debug/Win32/*.idb
/Core/intermediate/Debug/Win32/*.pdb
/Core/intermediate/Debug/Win32/Core.tlog/*.tlog
/Core/intermediate/Debug/Win32/Core.tlog/*.lastbuildstate
/Core/intermediate/Debug/x64/*.obj
/Core/intermediate/Debug/x64/*.log
/Core/intermediate/Debug/x64/*.idb
/Core/intermediate/Debug/x64/*.pdb
/Core/intermediate/Debug/x64/Core.tlog/*.tlog
/Core/intermediate/Debug/x64/Core.tlog/*.lastbuildstate
/Core/props/*.props
/Debug/*.dll
/Debug/*.ilk
/Debug/*.pdb
/Debug/*.exe
/*.sdf
/*.sln
/Sandbox/Debug/*.obj
/Sandbox/Debug/*.log
/Sandbox/Debug/Sandbox.tlog/*.tlog
/Sandbox/Debug/Sandbox.tlog/*.lastbuildstate
/Sandbox/Debug/*.enc
/Sandbox/Debug/*.idb
/Sandbox/Debug/*.pdb
/Sandbox/*.vcxproj
/Sandbox/*.filters
/Sandbox/*.txt
/Sandbox/props/*.props
/Sandbox/x64/Debug/*.obj
/Sandbox/x64/Debug/*.log
/Sandbox/x64/Debug/Sandbox.tlog/*.tlog
/Sandbox/x64/Debug/Sandbox.tlog/*.lastbuildstate
/Sandbox/x64/Debug/*.idb
/Sandbox/x64/Debug/*.pdb
/x64/Debug/*.dll
/x64/Debug/*.ilk
/x64/Debug/*.pdb
/x64/Debug/*.exe
/Debug
/Middleware
/x64
/Core/bin/Debug/Win32/*.lib
/Core/bin/Debug/Win32/*.pdb
/Core/bin/Debug/x64/*.lib
/Core/bin/Debug/x64/*.pdb
/Engine/intermediate
/Engine/bin
